.item {
  display: flex;
  flex-direction: column;
  width: 272px;
  min-height: 208px;
  position: relative;
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price svg {
  margin-left: 8px;
}