.list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  color: #8585AD;
  cursor: pointer;
  transition: color 600ms;
}

.link svg {
  margin-right: 8px;
  transition: fill 600ms;
}


.link:hover,
.link:focus {
  color: #F2F2F3;
}

.link:hover svg,
.link:focus svg {
  fill: #F2F2F3;
}

.active {
  color: #F2F2F3;
}